<div class="footer w3layouts">
  <div class="container">
    <div class="footer-top-at w3">

      <div class="col-md-3 amet-sed w3l">
        <h4>MORE INFO</h4>
        <ul class="nav-bottom">
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 amet-sed w3ls">
        <h4>POPULAR</h4>
        <ul class="nav-bottom">
        </ul>

      </div>
      <div class="col-md-3 amet-sed agileits">
        <h4>NEWSLETTER</h4>
        <div class="stay agileinfo">
          <div class="stay-left wthree">
            <form action="#" method="post">
              <input type="text" placeholder="Enter your email " required="">
            </form>
          </div>
          <div class="btn-1 w3-agileits">
            <form action="#" method="post">
              <input type="submit" value="Subscribe">
            </form>
          </div>
          <div class="clearfix"> </div>
        </div>

      </div>
      <div class="col-md-3 amet-sed agileits-w3layouts">
        <h4>CONTACT US</h4>
        <p>Contrary to popular belief</p>
        <p>The standard chunk</p>
        <p>office :  +12 34 995 0792</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="footer-class w3-agile">
    <p>© 2015 <a href="#" target="">GetWed</a>. All Rights Reserved </p>
  </div>
</div>